.chart rect {
    fill: steelblue;
}

.chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}

table, th, td {
    border-spacing: 10px;
    border-collapse: separate;
}

#searchTxt {
    width: 200px;
    height: 25px;
    background-position: center;
}

.graph {
    padding: 10px;
    border: 1px solid #e3e3e3;
}

.nodes circle {
    pointer-events: all;
    stroke: none;
    /*stroke-width: 40px;*/
}

.pathlink {
    fill: none;
    stroke: #aaa;
    stroke-width: 2px;
}

circle {
    stroke: #6495ED;
    stroke-width: 1.5px;
}